.main{
  display: flex;
  justify-content: space-evenly;
}
.main_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
.main_card_top{
  display: flex;
  justify-content: space-between;
  width: 90%;
  color : #555;
}
.main_card_item{
  width : 90%;
  min-height: 200px;
  border : 1px solid #ccc;
  border-radius: 1em;
  margin : 10px 0;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px #ccc;
}
.main_card_item_top{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #e2f8f1;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding : 15px 20px;
}
.main_card_item_title{
  font-size : 18px;
}
.main_card_item_importance{
  width: 40px;
  height: 20px;
  text-align: center;
  border-radius: 1em;
  z-index: 1;
}
.main_card_item_middle{
  padding : 15px 20px;
  min-height: 40%;
}
.main_card_item_bottom{
  padding : 15px 20px;
  color : #aaa;
  font-size: 14px;
}
.importance_high{
  color : red;
  background-color: rgb(243, 208, 208);
}
.importance_middle{
  color : #ff7300;
  background-color: #fce7c0;
}
.importance_low{  
  color : blue;
  background-color: rgb(197, 228, 240);
}